@import "~@fluentui/react/dist/sass/References.scss";

.container {
  display: flex;
}

.navbar {
  display: flex;
}

.burnDownContent {
  display: flex;
  gap: 5px;
}

.customer {
  display: flex;
}

.donutChart {
  display: flex;
}
