@import "~@fluentui/react/dist/sass/References.scss";

.weekHeader {
  display: flex;
  text-align: center;
  flex-direction: column;
  padding: 10px;
  font-weight: bold;
  background-color: #f4f4f4;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

.container {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.controlsContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.filterContainer {
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}

.navigationContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  //gap: 10px;
}

.gridHeader {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  background-color: #f4f4f4;
  padding-top: 10px;
  border-bottom: 1px solid #ccc;
  text-align: center;
  font-weight: bold;
  position: sticky; /* Keep header fixed at the top */
  top: 0;
  //z-index: 1;
}

.weekGrid {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 5 equal columns for weeks */
  gap: 0; /* No gap between weeks */
  overflow-x: hidden; /* Prevent horizontal scrolling */
}

.weekColumn {
  display: flex;
  flex-direction: column;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  padding: 10px;
  max-height: 600px; /* Set a max height for scrolling */
  overflow-y: auto; /* Enable vertical scrolling within each column */
  scrollbar-width: none;
  overflow-x: hidden;
}

.bookingCard {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  background-color: #f9f9f9;
  border-bottom: lightgray;
  cursor: move;
  gap: 10px;
}

.projectName {
  font-weight: bold;
  overflow-wrap: break-word;
}

.employeeName {
  color: #0078d4;
  cursor: pointer;
  overflow-wrap: break-word;
}

.customerName {
  color: #555;
  overflow-wrap: break-word;
}

.limitCalloutSize {
  max-height: 300px !important;
  height: auto;
  overflow: auto;
}

.iconWrapper {
  display: inline-block;
  cursor: pointer; /* Change cursor to pointer */
  transition: transform 0.3s ease, color 0.3s ease;
  height: 32px;
  width: 32px;

  &:hover {
    /* Hover effect */
    transform: scale(1.1); /* Slightly scale up the icon */
  }
}
//styles for bookingCardMenu
.projectAndEditIcon {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.EditIcon {
  display: flex;
  justify-content: flex-end;
}

//style for peoplepickercomponent

.peoplePickerContainer {
  display: flex;
  align-items: center;
  gap: 8px;
}

.selectedPeopleInline {
  display: flex;
  align-items: center;
  gap: 4px; // Spacing between selected people avatars
  overflow: hidden; // Ensure items don't overflow the container
}

.peoplePickerComboBox {
  max-width: 300px;
}

.comboBoxTitle {
  display: flex;
  align-items: center;
  gap: 5px;
}
