@import "~@fluentui/react/dist/sass/References.scss";

.timeSlot {
  display: flex;
  height: 15px; /* Each time slot is 15 minutes */
  position: relative;
  //background-color: #f9f9f9;
  border-right: 1px solid;
  overflow: visible;
}

.booking {
  position: absolute;
  left: 0;
  right: 0;
  background-color: "[theme: themeLighter, default: #deecf9]";
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 2px;
  overflow: hidden;
  z-index: 1;
  border: 1px solid;
}

.bookingContent {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  margin: 5px;
  gap: 5px;
}

.bookingTitle {
  font-weight: bold;
  font-size: 1.4em;
  margin-bottom: 4px;
}

.bookingEmployee,
.bookingProject,
.bookingDescription,
.bookingDate,
.bookingTime {
  font-size: 0.9em;
  margin-bottom: 2px;
}

.TitelAndEditIcon {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hoveredTimeSlot {
  background-color: #e0f7fa; /* Light blue background for hover effect */
  border: 1px solid #0288d1; /* Blue border to indicate hover */
}
