@import "~@fluentui/react/dist/sass/References.scss";

.weeklyViewContainer {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.controlsContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.weekInfo {
  text-align: center;
  flex-grow: 1;
}

.dateRange {
  margin-top: 5px;
}

.syncScrollContainer {
  display: flex;
  flex-grow: 1;
  overflow-y: auto;
  overflow-x: hidden;
  height: 800px;
  scrollbar-width: none;
}

.gridContainer {
  display: grid;
  grid-template-columns: 100px repeat(5, 1fr); /* One fixed column for time, and 5 flexible columns for days */
  width: 100%;
  position: relative;
}

.gridHeader {
  display: grid;
  grid-template-columns: 100px repeat(5, 1fr);
  background-color: var(--colorBrandBackground2);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  position: sticky;
  top: 0;
  z-index: 10;
}

.timeHeader {
  background-color: var(--colorBrandBackground2);
  position: sticky;
  top: 0;
  z-index: 1;
}

.dayHeader {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  row-gap: 5px;
  padding: 10px;
  font-weight: bold;
  border-right: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  z-index: 2;
}

.gridRow {
  display: contents;
}

.timeColumn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px; /* 4 time slots (15px each) = 1 hour */
  border-bottom: 1px solid #ccc;
}

.dayColumn {
  display: flex;
  flex-direction: column;
  border-left: 1px solid #ccc;
  position: relative; /* Set to relative to contain absolutely positioned bookings */
  background-color: #f9f9f9;
}

.hourRow {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #ccc;
  height: 60px; /* 4 time slots (15px each) = 1 hour */
}

.navigationContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.upIconScale {
  transform: scale(1.25);
}
