@import "~@fluentui/react/dist/sass/References.scss";

.weeklyViewContainer {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.controlsContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.weekInfo {
  text-align: center;
  flex-grow: 1;
}

.dateRange {
  margin-top: 5px;
}

.syncScrollContainer {
  display: flex;
  flex-grow: 1;
  overflow-y: auto;
  overflow-x: hidden;
  height: 800px;
  scrollbar-width: none;
}

.gridContainer {
  display: grid;
  grid-template-columns: 100px repeat(5, 1fr); /* One fixed column for time, and 5 flexible columns for days */
  width: 100%;
  position: relative;
}

.gridHeader {
  display: grid;
  grid-template-columns: 100px repeat(5, 1fr);
  position: sticky;
  top: 0;
  z-index: 10;
  //border-right: 1px solid;
  border-bottom: 1px solid;
  border-color: $ms-color-themeLight;
}

.timeHeader {
  position: sticky;
  top: 0;
  z-index: 1;
  //border-right: 1px solid;
}

.dayHeader {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  row-gap: 5px;
  padding: 10px;
  font-weight: bold;
  z-index: 2;
  border-left: 1px solid;
  border-color: $ms-color-themeLight;
  &:first-child {
    border-left: none;
  }

  &:last-child {
    border-right: none;
  }
}

.gridRow {
  display: contents;
}

.timeColumn {
  max-height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 56px; /* 4 time slots (15px each) = 1 hour - 14px when accounting borders */
  border-bottom: 1px solid;
  border-color: $ms-color-neutralLight;
}
.dayColumn {
  display: flex;
  flex-direction: column;
  max-height: 56px;
  border-left: 1px solid $ms-color-neutralLighterAlt;
  position: relative;

  & > div {
    height: 14px;
    border-bottom: 1px solid $ms-color-neutralLight;
  }
}

.hourRow {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid;
  border-color: $ms-color-neutralLight;
  height: 60px; /* 4 time slots (15px each) = 1 hour */
}

.navigationContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.upIconScale {
  transform: scale(1.25);
}
