.weeklyViewContainer {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.controlsContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.weekInfo {
  text-align: center;
  flex-grow: 1;
}

.dateRange {
  margin-top: 5px;
}

.syncScrollContainer {
  display: flex;
  flex-grow: 1;
  overflow-y: auto;
  overflow-x: hidden;
  height: 600px;
  scrollbar-width: none;
}

.gridContainer {
  display: grid;
  grid-template-columns: 100px repeat(5, 1fr); /* One fixed column for time, and 5 flexible columns for days */
  width: 100%; /* Ensure it uses the full available width */
  position: relative;
}

.gridHeader {
  display: grid;
  grid-template-columns: 100px repeat(5, 1fr);
  background-color: var(--colorBrandBackground2);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  position: sticky;
  top: 0;
  z-index: 10;
}

.timeHeader {
  background-color: var(--colorBrandBackground2);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.25);
  position: sticky;
  top: 0;
  z-index: 1;
}

.dayHeader {
  text-align: center;
  padding: 10px;
  font-weight: bold;
  background-color: var(--colorBrandBackground2);
  position: sticky;
  top: 0;
  z-index: 1;
  border-bottom: 1px solid #ccc;
  height: 40px; /* Adjust header height */
}

.gridRow {
  display: contents;
}

.timeColumn {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px; /* 4 time slots (15px each) = 1 hour */
  border-bottom: 1px solid #ccc;
}

.dayColumn {
  display: flex;
  flex-direction: column;
  border-left: 1px solid #ccc;
  position: relative; /* Set to relative to contain absolutely positioned bookings */
  background-color: #f9f9f9;
}

.hourRow {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #ccc;
  height: 60px; /* 4 time slots (15px each) = 1 hour */
}

.timeSlot {
  height: 15px; /* Each time slot is 15 minutes */
  position: relative; /* Ensure the booking element is positioned relative to this */
  background-color: #f9f9f9;
  border-right: 1px solid #ccc;
  overflow: visible; /* Ensure the overflow is visible so bookings can extend */
}

.booking {
  position: absolute;
  left: 0;
  right: 0;
  background-color: var(--colorBrandBackground2);
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px;
  margin: 2px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  z-index: 1;
  color: #333; /* Darker text color for better readability */
}

.bookingContent {
  display: flex;
  flex-direction: column;
  gap: 5px; /* Add space between each content block */
}

.bookingTitle {
  font-weight: bold;
  font-size: 1.4em;
  margin-bottom: 4px;
}

.bookingEmployee,
.bookingProject,
.bookingDescription,
.bookingDate,
.bookingTime {
  font-size: 0.9em;
  margin-bottom: 2px;
}

.bookingEmployee {
  color: var(--themePrimary);
}

.bookingTime {
  font-style: italic;
  color: #555;
}

.navigationContainer {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.upIconScale {
  transform: scale(1.25);
}
