@import '~@fluentui/react/dist/sass/References.scss';

.componentBody {
    width: 40dvw;
    min-width: 350px;
    max-width: 600px;
}

.limitToSetWidth {
    width: 100%;
    max-width: 400px;
}

.ms-DatePicker {
    width: 100%;
    max-width: 350px;
    background-color: limegreen;
}

.headingMargin {
    margin: 0 0 .2em 0;
}