@import "~@fluentui/react/dist/sass/References.scss";

.timeSlot {
  display: flex;
  height: 15px; /* Each time slot is 15 minutes */
  position: relative;
  overflow: visible;
  box-sizing: border-box;
}

.booking {
  position: absolute;
  left: 0;
  right: 0;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  padding: 10px;
  margin: 2px;
  overflow: hidden;
  z-index: 1;
  border: 1px solid;
  border-color: $ms-color-neutralQuaternary;
  background-color: $ms-color-neutralLighter;
}

.bookingContent {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin: 5px;
  gap: 5px;
}

.bookingTitle {
  font-weight: bold;
  overflow-wrap: anywhere;
}

.bookingTime {
  position: absolute;
  bottom: 15px;
  right: 15px;
  margin: 2px;
}

.TitelAndEditIcon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.employeeInfo {
  display: flex;
  align-items: center;
  cursor: pointer;
}

.hoveredTimeSlot {
  border: 1px solid;
  border-color: $ms-color-themeLight;
}
