@import "~@fluentui/react/dist/sass/References.scss";

.weekColumn {
  display: flex;
  flex-direction: column;
  padding: 12px;
  max-height: 800px;
  overflow-y: auto;
  scrollbar-width: none;
  overflow-x: hidden;
  gap: 16px;
}

.centered {
  display: flex;
  justify-content: center;
}
