.weekColumn {
  display: flex;
  flex-direction: column;
  background-color: "[theme: themeLighterAlt, default: #eff6fc]";
  padding: 10px;
  max-height: 800px;
  overflow-y: auto;
  scrollbar-width: none;
  overflow-x: hidden;
}

.centered {
  display: flex;
  justify-content: center;
}
