@import "~@fluentui/react/dist/sass/References.scss";

.componentBody {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.headingMargin {
  margin: 0 0 0.2em 0;
}

.verticalAligned {
  align-items: center;
}

/* Selector for at få fat i rækkerne i dateTimePickers
[class^="dateTimePicker_"] > [class^="container_"] > [class^="row_"] */

/* Selector for at få fat i peoplePickereren
[class^="defaultClass_"] */
