.bookingCard {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding: 10px;
  border-radius: 4px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  background-color: #ffffff;
  border-bottom: 1px solid #ccc;
  cursor: move;
  gap: 10px;
}

.TitelAndEditIcon {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.projectName {
  font-weight: bold;
  overflow-wrap: break-word;
}

.employeeName {
  cursor: pointer;
  overflow-wrap: break-word;
}

.customerAndProjectName {
  display: flex;
  gap: 5px;
  flex-direction: column;
  width: 100%;
  color: #555;
  overflow-wrap: break-word;
}
